<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/stylesheets/style_cc.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/style_cc.css')}}">
    <head>
        <title>
            Li-Ion Batteries
        </title>
        <header>State of Health prediction for Lithium Ion Batteries</header>
    </head>
    <body>
        <div id = 'text'>
            Enter the text file containing battery time based characterstics. (Temperature (Ambient constant), voltage, Current, Temperature)
        </div>
        <form action="{{url_for('li')}}" method="POST" enctype="multipart/form-data" id="form">
            <div id = 'container'>
                <input type= "file" name="input_file" id="input_file">
                <button type="submit" id="submit"> Submit</button>
            </div>
        </form>
        
        <div id="output">Capacity Ratio/SOH is {{output}}</div>
    </body>
</html>